* { 
    padding: 0; 
    margin: 0; 
}

canvas {
    background-image: url(https://placekeanu.com/900/750/);
    background-repeat: no-repeat;
    background-position: center;
    display: block; 
    margin: 0 auto; 
        }

        .modal{
            font-family: Arial, Helvetica, sans-serif;
            height: 50vh;
            width: 50vw;
            background-image:url(https://placekeanu.com/300/300/g) ;
            height: 30px;
            width: 30px;
            min-width: 300px;
            min-height: 300px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            text-align: center;
            color: rgb(148, 28, 28);
            font-weight: bolder;
            border: 20px solid black;
      
      
          }
          .modal.show{
          display: flex;
        }
      button{
        
            outline: none;
            border: 4px solid black;
            padding: 10px 20px;
            font-size:20px;
            color:black;
            background-image: linear-gradient(to left, rgb(233, 154, 177), violet, indigo, red);
            background: rgba(93, 2, 2, 0.712);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
            'Helvetica Neue', sans-serif;
            font-weight: bolder;
            justify-content: center;
            display: flex-end;
          }
      

      }